<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
    <title>Chef</title>
    <thymeleaf th:replace="~{includes :: meta_script_link}"></thymeleaf>
    <script src="/js/chef.js" defer></script>
</head>
<body>
<header th:insert="~{fragments/navbar::copy}"></header>
<h1  class="page-title" th:text="${one_chef.firstName + ' ' + one_chef.lastName}"></h1>
<main class="container">
    <h2>Update</h2>
    <br>
    <!-- First Name -->
    <div class="row">
        <input id="chefId" type="hidden" th:value="${one_chef.id}">
        <div class="col-9">
            <label for="firstNameTextArea" class="form-label">First Name</label>
            <textarea class="form-control" id="firstNameTextArea" rows="1" th:text="${one_chef.firstName}"></textarea>
        </div>
    </div>
    <!-- Update Button -->
    <div class="row mt-3">
        <button id="updateButton" type="button" class="btn btn-primary" disabled>Update</button>
    </div>
    <h2>Details</h2>
    <!-- Menu Items -->
    <div class="mt-5">
        <!-- Dropdown -->
        <div class="dropdown" id="dropdownButtonWrapper">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="toggleMenuItemInformation">
                Menu items involved in
            </button>
        </div>
        <!-- Table -->
        <table class="table table-sm mt-1" id="menuItemInformation">
            <!-- Column Headers -->
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <!-- Rows -->
            <tbody id="menuItemInformationBody">
            </tbody>
        </table>
    </div>
</main>
<!-- Return Button -->
<div class="center-container">
    <a th:href="@{/chefs}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Return</a>
</div>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>