<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${one_chef.firstName + ' ' + one_chef.lastName}">Chef</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/chef.js" type="module"></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="page-title text-primary" th:text="${one_chef.firstName + ' ' + one_chef.lastName}"></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Details Sections -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <div class="row mb-3 justify-content-center">
                    <div class="col-md-8">
                        <input id="chefId" th:value="${one_chef.id}" type="hidden">
                        <div class="row mt-3 justify-content-center">
                            <table class="table">
                                <tbody>
                                <!-- ID -->
                                <tr>
                                    <th class="col-sm-4" th:text="#{attribute.id}">ID</th>
                                    <td class="col-sm-8" th:text="*{one_chef.id}"></td>
                                </tr>
                                <!-- First Name -->
                                <tr>
                                    <th class="col-sm-4">
                                        <label class="form-label" for="firstNameField"
                                               th:text="#{attribute.firstName}">
                                            First Name:</label>
                                    </th>
                                    <td class="col-sm-8">
                                        <input class="form-control" id="firstNameField"
                                               th:if="${one_chef.modificationAllowed}"
                                               th:value="${one_chef.firstName}" type="text">
                                        <p th:if="${!one_chef.modificationAllowed}" th:text="${one_chef.firstName}">
                                    </td>
                                </tr>
                                <!-- Last Name -->
                                <tr>
                                    <th class="col-sm-4">
                                        <label class="form-label" for="lastNameField"
                                               th:text="#{attribute.lastName}">
                                            Last Name:
                                        </label>
                                    </th>
                                    <td class="col-sm-8">
                                        <input class="form-control" id="lastNameField"
                                               th:if="${one_chef.modificationAllowed}"
                                               th:value="${one_chef.lastName}"
                                               type="text">
                                        <p th:if="${!one_chef.modificationAllowed}" th:text="${one_chef.lastName}">
                                    </td>
                                </tr>
                                <!-- Date of Birth -->
                                <tr>
                                    <th class="col-sm-4">
                                        <label class="form-label" for="dateOfBirthField"
                                               th:text="#{attribute.dateOfBirth}">
                                            Date of Birth:
                                        </label>
                                    </th>
                                    <td class="col-sm-8">
                                        <input class="form-control" id="dateOfBirthField"
                                               th:if="${one_chef.modificationAllowed}"
                                               th:value="${one_chef.dateOfBirth}"
                                               type="date">
                                        <p th:if="${!one_chef.modificationAllowed}" th:text="${one_chef.dateOfBirth}">
                                    </td>
                                </tr>
                                <!-- Username -->
                                <tr>
                                    <th class="col-sm-4">
                                        <label class="form-label" for="usernameField"
                                               th:text="#{attribute.username}">
                                            Username:
                                        </label>
                                    </th>
                                    <td class="col-sm-8">
                                        <input class="form-control" id="usernameField"
                                               th:if="${one_chef.modificationAllowed}"
                                               th:value="${one_chef.username}"
                                               type="text">
                                        <p th:if="${!one_chef.modificationAllowed}" th:text="${one_chef.username}">
                                    </td>
                                </tr>
                                <!-- Role -->
                                <tr>
                                    <th class="col-sm-4">
                                        <label class="form-label"
                                               th:text="#{attribute.role}">
                                            Role:
                                        </label>
                                    </th>
                                    <td class="col-sm-8">
                                        <p th:text="${one_chef.role}"></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Save Button -->
                        <div class="row mt-3 justify-content-center" th:if="${one_chef.modificationAllowed}">
                            <div class="col-sm-4">
                                <button class="btn btn-primary" id="saveButton" th:text="#{button.save}" type="button">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Associated Menu Items Section -->
        <div class="col-md-6">
            <section class="mt-5 text-center">
                <!-- Dropdown -->
                <div class="dropdown" id="dropdownButtonWrapper">
                    <button class="btn btn-primary col-md-5 dropdown-toggle" id="toggleMenuItemInformation"
                            th:text="#{message.menuItemsDropdown}"
                            type="button">
                        Menu items involved in
                    </button>
                </div>
                <!-- Menu Items -->
                <div class="row justify-content-center">
                    <div class="list-group col-md-5" id="associatedMenuItems">
                        <!-- Menu items will be dynamically added here -->
                    </div>
                </div>
            </section>
        </div>
        <!-- Bottom Page Buttons Section -->
        <div class="col-md-12">
            <div class="row mb-3 justify-content-center">
                <!-- Return Button -->
                <div class="col-md-2">
                    <div class="center-container text-center">
                        <a class="btn btn-secondary" href="javascript:history.back()" th:text="#{button.return}">
                            <i class="fas fa-arrow-left"></i> Return
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>