<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
    <title>Chefs</title>
    <thymeleaf th:replace="~{includes :: meta_script_link}"></thymeleaf>
    <script src="/js/chefs.js" defer></script>
</head>
<body>
<header th:insert="~{fragments/navbar::copy}"></header>
<h1 class="page-title" th:text="#{chef.chefsTitle}">Chefs</h1>
<main class="container">
    <h2 th:text="#{chef.addHeader}">Add Chef</h2>
    <!-- Form -->
    <form>
        <!-- First Name -->
        <div class="mb-3">
            <label for="firstNameInput" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstNameInput" required>
        </div>
        <!-- Last Name -->
        <div class="mb-3">
            <label for="lastNameInput" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastNameInput" required>
        </div>
        <!-- Add Button -->
        <button id="addButton" type="button" class="btn btn-primary mb-3" th:text="#{chef.add}">Add</button>
    </form>
    <h2 th:text="#{chef.listHeader}">Chef List</h2>
    <!-- Table -->
    <table class="table">
        <!-- Column Headers -->
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody id="chefTableBody">
        <tr th:id="'chef_' + ${chef.id}" th:each="chef : ${all_chefs}">
            <!-- First Name -->
            <td th:text="${chef.firstName}"></td>
            <!-- Lat Name -->
            <td th:text="${chef.lastName}"></td>
            <!-- Details Button -->
            <td><a th:href="@{/chef(id=${chef.id})}">Details</a></td>
            <!-- Delete Button -->
            <td><button type="button" class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>