<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${one_chef.firstName + ' ' + one_chef.lastName}">Chef</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script defer src="/js/chef.js"></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <div class="row justify-content-center">
        <h1 class="page-title" th:text="${one_chef.firstName + ' ' + one_chef.lastName}"></h1>
        <!-- Update Section -->
        <section class="mt-5" sec:authorize="isAuthenticated()">
            <h2 th:text="#{header.update}">Update</h2>
            <br>
            <!-- First Name -->
            <div class="row">
                <input id="chefId" th:value="${one_chef.id}" type="hidden">
                <div class="col-sm-4">
                    <label class="form-label" for="firstNameTextArea" th:text="#{attribute.firstName}">First
                        Name</label>
                    <textarea class="form-control" id="firstNameTextArea" rows="1"
                              th:text="${one_chef.firstName}"></textarea>
                    <label class="form-label" for="lastNameTextArea" th:text="#{attribute.lastName}">Last Name</label>
                    <textarea class="form-control" id="lastNameTextArea" rows="1"
                              th:text="${one_chef.lastName}"></textarea>
                </div>
            </div>
            <!-- Update Button -->
            <div class="row mt-3">
                <div class="col-sm-4">
                    <button class="btn btn-primary" id="updateButton" th:text="#{button.update}" type="button">Update
                    </button>
                </div>
            </div>
        </section>
        <!-- Details Sections -->
        <section class="mt-5">
            <h2 th:text="#{header.details}">Details</h2>
            <div class="col-md-4">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <!-- ID -->
                    <tr>
                        <th class="col-sm-4" th:text="#{attribute.id}">ID</th> <!-- Adjusted column width -->
                        <td class="col-sm-8" th:text="*{one_chef.id}"></td> <!-- Adjusted column width -->
                    </tr>
                    <!-- Name -->
                    <tr>
                        <th class="col-sm-4" th:text="#{attribute.name}">Name</th> <!-- Adjusted column width -->
                        <td class="col-sm-8" th:text="*{one_chef.firstName + ' ' + one_chef.lastName}"></td>
                        <!-- Adjusted column width -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Associated Menu Items Section -->
        <section class="mt-5">
            <div class="mt-5">
                <!-- Dropdown -->
                <div class="dropdown" id="dropdownButtonWrapper">
                    <button class="btn btn-secondary dropdown-toggle" id="toggleMenuItemInformation"
                            th:text="#{message.menuItemsDropdown}"
                            type="button">
                        Menu items involved in
                    </button>
                </div>
                <!-- Menu Items -->
                <div class="list-group col-sm-4" id="associatedMenuItems">
                    <!-- Menu items will be dynamically added here -->
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Return Button -->
<div class="center-container">
    <a class="btn btn-secondary" th:href="@{/chefs}" th:text="#{button.return}">
        <i class="fas fa-arrow-left"></i> Return
    </a>
</div>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>