<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.searchChefs}">Search Chefs</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/search-chefs.js" defer></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<h1 class="page-title" th:text="#{title.searchChefs}">Search Chefs</h1>
<main class="container">
    <!-- Search Bar -->
    <form>
        <div class="mb-3">
            <label for="searchTerm" class="form-label" th:text="#{message.searchTerm}">Search term</label>
            <input type="text" class="form-control" id="searchTerm" aria-describedby="searchHelp">
            <div id="searchHelp" class="form-text" th:text="#{message.chefsSearch}">Searches both the first and last name.</div>
        </div>
        <!-- Search Button -->
        <button type="button" class="btn btn-primary" id="searchButton" th:text="#{button.search}">Search</button>
    </form>
    <!-- Search Results -->
    <section id="searchResultsSection">
        <h2 class="mt-5" th:text="#{message.chefsFound}">Chefs Found</h2>
        <table class="table">
            <!-- Column Headers -->
            <thead>
            <tr>
                <th th:text="#{attribute.firstName}">First Name</th>
                <th th:text="#{attribute.lastName}">Last Name</th>
                <th></th>
            </tr>
            </thead>
            <!-- Rows -->
            <tbody>
            </tbody>
        </table>
    </section>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>