<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.searchChefs}">Search Chefs</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/search-chefs.js" type="module"></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="page-title text-primary" th:text="#{title.searchChefs}">Search Chefs</h1>
        </div>
        <div class="col-md-4">
            <!-- Search Bar -->
            <form>
                <div class="row mb-3 justify-content-center">
                    <div class="col">
                        <input aria-describedby="searchHelp" class="form-control" id="searchTerm"
                               th:placeholder="#{message.chefsSearch}" type="text">
                    </div>
                </div>
            </form>
            <!-- Search Results -->
            <div id="searchResultsSection">
                <!-- Queried chefs will be dynamically added here -->
            </div>
        </div>
        <!-- Bottom Page Buttons Section -->
        <div class="col-md-12">
            <div class="row mb-3 justify-content-center">
                <!-- Return Button -->
                <div class="col-md-2">
                    <div class="center-container text-center">
                        <a class="btn btn-secondary" href="javascript:history.back()" th:text="#{button.return}">
                            <i class="fas fa-arrow-left"></i> Return
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>