<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:fragment="meta_script_link" th:remove="tag">
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
        <link href="/images/logo.png" rel="icon" type="image/png">
        <script th:src="@{/js/language-switch.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script crossorigin="anonymous"
                integrity="sha256-oP6HI/tZ1XaM1p4zL9+fLXRdXJ5wN/uwIUmvsPQ4u7g="
                src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </thymeleaf>
    <title></title>
</head>
<body>
<header class="pb-3" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Website Name -->
        <a class="navbar-brand" th:href="@{/}" th:text="#{title.website}">Restaurant Management</a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Left Side -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="fas fa-home"></i>
                        <span th:text="#{title.home}">Home</span>
                    </a>
                </li>
                <!-- Menu Item Dropdown -->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="menuItemDropdown" role="button">
                        <i class="fas fa-utensils"></i>
                        <span th:text="#{title.menuItems}">Menu Items</span>
                    </a>
                    <ul aria-labelledby="menuItemDropdown" class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" th:href="@{/menu-items}">
                                <i class="fas fa-list"></i>
                                <span th:text="#{header.menuItemList}">Menu Item List</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/search-menu-items}">
                                <i class="fas fa-search"></i>
                                <span th:text="#{title.searchMenuItems}">Search Menu Items</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Chef Dropdown -->
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="chefDropdown" role="button">
                        <i class="fas fa-user"></i>
                        <span th:text="#{title.chefs}">Chefs</span>
                    </a>
                    <ul aria-labelledby="chefDropdown" class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" th:href="@{/chefs}">
                                <i class="fas fa-list"></i>
                                <span th:text="#{header.chefList}">Chef List</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/search-chefs}">
                                <i class="fas fa-search"></i>
                                <span th:text="#{title.searchChefs}">Search Chefs</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- History -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/history}">
                        <i class="fas fa-history"></i>
                        <span th:text="#{title.history}">History</span>
                    </a>
                </li>
            </ul>
            <!-- Right Side -->
            <ul class="navbar-nav ms-auto">
                <!-- Welcome Message -->
                <li class="nav-item me-2 pt-2" sec:authorize="isAuthenticated()">
                    <span class="navbar-text">
                        Welcome, <span th:text="${#strings.capitalize(#authentication.name)}">user</span>!
                    </span>
                </li>
                <!-- Logout Button -->
                <li sec:authorize="isAuthenticated()">
                    <form class="d-flex" th:action="@{/logout}" th:method="POST">
                        <button class="btn" type="submit"><i class="fas fa-sign-out-alt"></i></button>
                    </form>
                </li>
                <!-- Login Button -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i></a>
                </li>
                <!-- Language Switch -->
                <li class="navbar-item">
                    <button class="nav-link btn btn-link btn-secondary" onclick="switchLanguage()" th:text="#{button.language}"
                            type="button"></button>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>