<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <div class="row justify-content-center error-container">
        <h1 class="display-4 error-message text-primary">Oops! Something went wrong...</h1>
        <p class="error-message text-body">We apologize for the inconvenience. Please try again later.</p>
        <!-- Error Image -->
        <div class="mt-5">
            <img alt="Error Icon" class="img-fluid error-image" th:src="@{/images/error-icon.png}"/>
        </div>
        <!-- Home Link -->
        <div class="mt-5 back-home-link">
            <a class="btn btn-primary" th:href="@{/}">Back to home</a>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>