<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${one_menu_item.name}">Menu Item</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script defer src="/js/menu-item.js"></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <div class="row justify-content-center">
        <h1 class="page-title" th:text="${one_menu_item.name}"></h1>
        <div class="row">
            <!-- Details Sections -->
            <div class="col-md-6">
                <section class="mt-5">
                    <h2 th:text="#{header.details}">Details</h2>
                    <div class="col-md-8">
                        <input id="menuItemId" th:value="${one_menu_item.id}" type="hidden">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <!-- ID -->
                            <tr>
                                <th class="col-sm-4" th:text="#{attribute.id}">ID</th>
                                <td class="col-sm-8" th:text="*{one_menu_item.id}"></td>
                            </tr>
                            <!-- Name -->
                            <tr>
                                <th class="col-sm-4">
                                    <label for="nameInputField" class="form-label" th:text="#{attribute.name}">Name:</label>
                                </th>
                                <td class="col-sm-8">
                                    <input class="form-control" id="nameInputField" type="text" th:value="${one_menu_item.name}">
                                </td>
                            </tr>
                            <!-- Price -->
                            <tr>
                                <th class="col-sm-4">
                                    <label for="priceInputField" class="form-label" th:text="#{attribute.price}">Price:</label>
                                </th>
                                <td class="col-sm-8">
                                    <input class="form-control" id="priceInputField" required step="0.01" type="number" th:value="${one_menu_item.price}">
                                </td>
                            </tr>
                            <!-- Course -->
                            <tr>
                                <th class="col-sm-4">
                                    <label for="courseInputField" class="form-label" th:text="#{attribute.course}">Course:</label>
                                </th>
                                <td class="col-sm-8">
                                    <select class="form-select" id="courseInputField" name="course" th:value="${one_menu_item.course}">
                                        <option th:each="course : ${courseValues}"
                                                th:value="${course}"
                                                th:text="${course.toString()}"
                                                th:selected="${one_menu_item.course}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <!-- Vegetarian -->
                            <tr>
                                <th class="col-sm-4">
                                    <label for="vegetarianInputField" class="form-label" th:text="#{attribute.vegetarian}">Vegetarian:</label>
                                </th>
                                <td class="col-sm-8">
                                    <input type="checkbox" id="vegetarianInputField" th:checked="${one_menu_item.vegetarian}">
                                </td>
                            </tr>
                            <!-- Spice Level -->
                            <tr>
                                <th class="col-sm-4">
                                    <label for="spiceLvlInputField" class="form-label" th:text="#{attribute.spiceLvl}">Spice Level:</label>
                                </th>
                                <td class="col-sm-8">
                                    <input class="form-control" id="spiceLvlInputField" required type="number" th:value="${one_menu_item.spiceLvl}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Save Button -->
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <button class="btn btn-primary" id="saveButton" th:text="#{button.save}" type="button">
                                Save
                            </button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Associated Chefs Section -->
            <div class="col-md-6">
                <section class="mt-5">
                    <div class="mt-5">
                        <!-- Dropdown -->
                        <div class="dropdown" id="dropdownButtonWrapper">
                            <button class="btn btn-secondary dropdown-toggle" id="toggleChefInformation"
                                    th:text="#{message.chefsDropdown}"
                                    type="button">
                                Chefs involved
                            </button>
                        </div>
                        <!-- Chefs -->
                        <div class="list-group col-sm-4" id="associatedChefs">
                            <!-- Chefs will be dynamically added here -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Return Button -->
    <div class="center-container mt-3">
        <a class="btn btn-secondary" th:href="@{/menu-items}" th:text="#{button.return}">
            <i class="fas fa-arrow-left"></i> Return
        </a>
    </div>
</main>

<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>