<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${one_menu_item.name}">Menu Item</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script defer src="/js/menu-item.js"></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container">
    <div class="row justify-content-center">
        <h1 class="page-title" th:text="${one_menu_item.name}"></h1>
        <!-- Update Section -->
        <section class="mt-5" sec:authorize="isAuthenticated()">
            <h2 th:text="#{header.update}">Update</h2>
            <br>
            <!-- Name -->
            <div class="row">
                <input id="menuItemId" th:value="${one_menu_item.id}" type="hidden">
                <div class="col-sm-4">
                    <label class="form-label" for="nameTextArea" th:text="#{attribute.name}">Name</label>
                    <textarea class="form-control" id="nameTextArea" rows="1"
                              th:text="${one_menu_item.name}"></textarea>
                </div>
            </div>
            <!-- Update Button -->
            <div class="row mt-3">
                <div class="col-sm-4">
                    <button class="btn btn-primary" id="updateButton" th:text="#{button.update}" type="button">Update
                    </button>
                </div>
            </div>
        </section>
        <!-- Details Sections -->
        <section class="mt-5">
            <h2 th:text="#{header.details}">Details</h2>
            <div class="col-md-4">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <!-- ID -->
                    <tr>
                        <th class="col-sm-4" th:text="#{attribute.id}">ID</th>
                        <td class="col-sm-8" th:text="*{one_menu_item.id}"></td>
                    </tr>
                    <!-- Name -->
                    <tr>
                        <th class="col-sm-4" th:text="#{attribute.name}">Name</th>
                        <td class="col-sm-8" th:text="*{one_menu_item.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Associated Chefs Section -->
        <section class="mt-5">
            <div class="mt-5">
                <!-- Dropdown -->
                <div class="dropdown" id="dropdownButtonWrapper">
                    <button class="btn btn-secondary dropdown-toggle" id="toggleChefInformation"
                            th:text="#{message.chefsDropdown}"
                            type="button">
                        Chefs involved
                    </button>
                </div>
                <!-- Chefs -->
                <div class="list-group col-sm-4" id="associatedChefs">
                    <!-- Chefs will be dynamically added here -->
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Return Button -->
<div class="center-container mt-3">
    <a class="btn btn-secondary" th:href="@{/menu-items}" th:text="#{button.return}">
        <i class="fas fa-arrow-left"></i> Return
    </a>
</div>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>