<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu Items</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/menu-items.js" defer></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<h1 class="page-title" th:text="#{menu.menuItemsTitle}">Menu Items</h1>
<main class="container">
    <h2 th:text="#{menu.addHeader}">Add Menu Item</h2>
    <!-- Form -->
    <form>
        <!-- Name -->
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" th:placeholder="#{menu.name}" required>
        </div>
        <!-- Price -->
        <div class="mb-3">
            <label for="priceInput" class="form-label">Price</label>
            <input type="number" step="0.01" class="form-control" id="priceInput" required>
        </div>
        <!-- Add Button -->
        <button id="addButton" type="button" class="btn btn-primary mb-3" th:text="#{menu.add}">Add</button>
    </form>
    <h2 th:text="#{menu.listHeader}">Menu Item List</h2>
    <!-- Table -->
    <table class="table">
        <!-- Column Headers -->
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Course</th>
            <th>Vegetarian</th>
            <th>Spice Level</th>
            <th>Restaurant</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <!-- Rows-->
        <tbody id="menuItemTableBody">
        <tr th:id="'menu_item_' + ${menu_item.id}" th:each="menu_item : ${all_menu_items}">
            <!-- Name -->
            <td th:text="${menu_item.name}"></td>
            <!-- Price -->
            <td th:text="${menu_item.price}"></td>
            <!-- Course-->
            <td th:text="${menu_item.course}"></td>
            <!-- Vegetarian -->
            <td th:text="${menu_item.vegetarian}"></td>
            <!-- Spice Level -->
            <td th:text="${menu_item.spiceLvl}"></td>
            <!-- Restaurant Name -->
            <td th:text="${menu_item.restaurantName}"></td>
            <!-- Details Button -->
            <td><a th:href="@{/menu-item(id=${menu_item.id})}">Details</a></td>
            <!-- Delete Button -->
            <td><button type="button" class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>