<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="${one_menu_item.name}">Menu Item</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
    <script src="/js/menu-item.js" defer></script>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<h1 class="page-title" th:text="${one_menu_item.name}"></h1>
<main class="container">
    <h2 th:text="#{header.update}">Update</h2>
    <br>
    <!-- Name -->
    <div class="row">
        <input id="menuItemId" type="hidden" th:value="${one_menu_item.id}">
        <div class="col-9">
            <label for="nameTextArea" class="form-label" th:text="#{attribute.name}">Name</label>
            <textarea class="form-control" id="nameTextArea" rows="1" th:text="${one_menu_item.name}"></textarea>
        </div>
    </div>
    <!-- Update Button -->
    <div class="row mt-3">
        <button id="updateButton" type="button" class="btn btn-primary" th:text="#{button.update}">Update</button>
    </div>
    <h2 th:text="#{header.details}">Details</h2>
    <table class="table">
        <tbody>
        <!-- ID -->
        <tr>
            <th th:text="#{attribute.id}">ID</th>
            <td th:text="*{one_menu_item.id}"></td>
        </tr>
        <!-- Name -->
        <tr>
            <th th:text="#{attribute.name}">Name</th>
            <td th:text="*{one_menu_item.name}"></td>
        </tr>
        </tbody>
    </table>
    <!-- Chefs -->
    <div class="mt-5">
        <!-- Dropdown -->
        <div class="dropdown" id="dropdownButtonWrapper">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="toggleChefInformation" th:text="#{message.chefsDropdown}">
                Chefs involved
            </button>
        </div>
        <!-- Table -->
        <table id="chefInformation" class="table">
            <!-- Column Headers-->
            <thead>
            <tr>
                <th th:text="#{attribute.name}">Name</th>
            </tr>
            </thead>
            <!-- Rows -->
            <tbody id="chefInformationBody">
            </tbody>
        </table>
    </div>
</main>
<!-- Return Button -->
<div class="center-container mt-3">
    <a th:href="@{/menu-items}" class="btn btn-secondary" th:text="#{button.return}"><i class="fas fa-arrow-left"></i> Return</a>
</div>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>