<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}">
    <title>Home</title>
    <thymeleaf th:replace="~{includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:insert="~{fragments/navbar::copy}"></header>
<main class="container">
    <h1 class="page-title" th:text="#{home.header}">Home</h1>
    <p class="lead" th:text="#{home.welcome}">Welcome to our database of restaurants.</p>
    <br>
    <!-- Navigation Cards -->
    <div class="row">
        <!-- Chef Links -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{home.chefs}">Chefs</h5>
                    <a href="/chefs" class="btn btn-primary">Chef List</a>
                    <a href="/search-chefs" class="btn btn-primary">Search Chefs</a>
                </div>
            </div>
        </div>
        <!-- Menu Item Links -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{home.menuItems}">Menu Items</h5>
                    <a href="/menu-items" class="btn btn-primary">Menu Item List</a>
                    <a href="/search-menu-items" class="btn btn-primary">Search Menu Items</a>
                </div>
            </div>
        </div>
        <!-- Other Links -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Other</h5>
                    <a href="/history" class="btn btn-primary">History</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Home Page Image -->
    <div class="mt-4">
        <img class="img-fluid" th:src="@{/images/home-image.jpg}" alt="Home Image"/>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>