<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.home}">Home</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="page-title text-primary" th:text="#{title.home}">Home</h1>
            <p class="lead text-body text-body" th:text="#{message.home}">A restaurant database for chefs.</p>
        </div>
        <div class="col-md-8">
                <div class="row mb-3 justify-content-center">
                    <div class="col-md-6">
                        <!-- Menu Items Card -->
                        <div class="card" onclick="location.href='/menu-items';" style="cursor: pointer;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{message.viewMenuItems}">View Menu Items</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-md-6">
                        <!-- Chefs Card -->
                        <div class="card" onclick="location.href='/chefs';" style="cursor: pointer;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="#{message.viewChefs}">View Chefs</h5>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Home Page Image -->
        <div class="col-md-6">
            <div class="mt-4">
                <img alt="Home Image" class="img-fluid" th:src="@{/images/home-image.jpg}"/>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>