<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.login}">Login</title>
    <thymeleaf th:replace="~{fragments/includes :: meta_script_link}"></thymeleaf>
</head>
<body>
<header th:replace="~{fragments/includes::header}"></header>
<main class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="page-title text-primary" th:text="#{title.login}">Log in</h1>
        </div>
        <div class="col-md-12">
            <section class="mt-5 text-center">
                <div class="row mb-3 justify-content-center">
                    <form method="POST" th:action="@{/login}">
                        <div class="row pb-3 justify-content-center">
                            <div class="col-sm-4">
                                <label class="form-label" for="username"
                                       th:text="#{attribute.username}">Username</label>
                                <input class="form-control" id="username" name="username" type="text">
                            </div>
                        </div>
                        <div class="row pb-3 justify-content-center">
                            <div class="col-sm-4">
                                <label class="form-label" for="password"
                                       th:text="#{attribute.password}">Password</label>
                                <input class="form-control" id="password" name="password" type="password">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-4">
                                <button class="btn btn-primary" th:text="#{button.login}" type="submit">Log in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <!-- Register Button -->
        <div class="center-container text-center">
            <a class="btn btn-secondary" th:href="@{/registration}" th:text="#{button.register}">Register</a>
        </div>
    </div>
</main>
<footer th:insert="~{fragments/footer::copy}"></footer>
</body>
</html>